Pods/
Podfile.lock

.DS_Store
*/.DS_Store

*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

Telie/Supporting/Keys.plist

Telie/Supporting/GoogleService-Info.plist
