<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10845765461-0vb9ji1jv7lgb6gog0618ea77rufbq4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10845765461-0vb9ji1jv7lgb6gog0618ea77rufbq4v</string>
	<key>API_KEY</key>
	<string>AIzaSyBbszYOHzej9CfgEEs8GsaOgPV7uyiiARs</string>
	<key>GCM_SENDER_ID</key>
	<string>10845765461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flick.flick-ios</string>
	<key>PROJECT_ID</key>
	<string>telie-b26e5</string>
	<key>STORAGE_BUCKET</key>
	<string>telie-b26e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10845765461:ios:020fc215cb7f0330dd79dc</string>
</dict>
</plist>